<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="rauland-orleans" value="https://ci.appveyor.com/nuget/orleans-rauland" />
    <add key="nuget.org" value="https://api.nuget.org/v2" />
  </packageSources>
</configuration>